<footer>
    <div class="container" style="background-color: antiquewhite; width: 100%">
        <div class="row" style="margin: 10px 10px 10px 10px; padding: 10px 0px 10px 0px;">
            <div class="col-sm-3">
                <span class="glyphicon glyphicon-phone"></span>
                <b>Call</b> 9900888061
            </div>
            <div class="col-sm-3">
                <span class="glyphicon glyphicon-envelope"></span>
                <b>Contact</b> tsabunkar@gmail.com
            </div>
            <div class="col-sm-3">
                <span class="glyphicon glyphicon-plus"></span>
               <b>Follow Me</b> https://github.com/tsabunkar
            </div>
            <div class="col-sm-3">
                <span class="glyphicon glyphicon-copyright-mark"></span>
                2018 Sabunkar Tejas Shailesh
            </div>
        </div>
    </div>
</footer>