<header>
 <nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color: antiquewhite;">
    <ul class="nav navbar-nav">
      <li ><a href="../home.hbs">HOME</a></li>
      <li><a href="../resume.hbs">RESUME</a></li>
      <li><a href="../projects.hbs">PROJECTS</a></li>
      <li><a href="../contact.hbs">CONTACT</a></li>
    </ul>
  </div>
</nav>
</header>