<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    {{> myHeader}} {{> myName}}
    <div class="container">
        <div class="modal-body row">
            <div class="col-md-8" id="leftDivId">
                <h2>RESUME</h2>
                <hr size="30">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="cricleSticker" style="padding: 31px 9px; "> Professional Info</label>
                        </div>
                        <div class="col-sm-5">
                            <p>Worked on several live projects with different client from various parts of globe. Also involved
                                in Research & development Product for creation of Plugin.</p>
                            <br>
                        </div>
                    </div>
                </div>
                <hr size="30">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="cricleSticker" style="padding: 28px 16px; ">Work experience</label>
                        </div>
                        <div class="col-sm-5">
                            <h5>
                                <b>Nous Infosystem.
                                    <br/> ​2016 - present</b>
                            </h5>
                            <p>Working as Software developer on various technologies. Including- JEE, Spring, Hibernate, Webservices,
                                Vanilla JavaScript, JQuery, Ajax, Angular. Worked on : Healthcare and HRMS domain.</p>
                        </div>
                    </div>
                </div>
                <hr size="30">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="cricleSticker" style="padding: 39px 17px; ">Education</label>
                        </div>
                        <div class="col-sm-5">
                            <h5>
                                <b>Sri Venkateshwara College Of Engineering, Bangalore.
                                    <br/>2012 - 2016</b>
                            </h5>
                            <p>Completed my Bachelor's degree in Electronics and Communication with overall of 82% aggregate.</p>
                            <h5>
                                <b>Kendriya Vidyalaya, Bellary.
                                    <br/>​2004 - 2012</b>
                            </h5>
                            <p>Completed my pre & Secondary schooling in CBSE board.Scoring 84% in class-10 and 89% in class-12
                                boards.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2" id="rightDivId">
                <div style="padding-top: 68px;">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <h5>
                        <b>Skills</b>
                    </h5>
                    <hr size="40" style="width: 300px">
                    <ul>
                        <li>Spring (core, MVC)</li>
                        <li>Spring-boot</li>
                        <li>Hibernate</li>
                        <li>WebServices</li>
                        <li>Angular</li>
                        <li>JQuery & Ajax</li>

                    </ul>
                </div>
                <div style="padding-top: 76px;">
                    <span class="glyphicon glyphicon-tower"></span>
                    <h5>
                        <b>Skills</b>
                    </h5>
                    <hr size="40" style="width: 300px">
                    <ul>
                        <li>Java</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                    </ul>
                </div>
            </div>


        </div>
    </div>


    {{> myFooter}}
</body>

</html>